// General style overrides and custom classes
@import 'scss/theme/reset';
// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$heading-font-family: -apple-system, BlinkMacSystemFont, 'Open Sans';
$code-font-family: 'Fira Code', 'JetBrains Mono', 'Space Mono', monospace;

p,
span {
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Open Sans',
    'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

code {
  border-radius: 5px;
  font-size: 0.8em !important;
  font-family: $code-font-family;
}
