// General style overrides and custom classes
@import 'scss/theme/reset';
// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

$heading-font-family: -apple-system, BlinkMacSystemFont, 'Open Sans';
$code-font-family: 'Fira Code', 'JetBrains Mono', 'Space Mono', monospace;

p,
span {
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Open Sans',
    'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

code {
  border-radius: 5px;
  font-size: 0.8em !important;
  font-family: $code-font-family;
}
